<html lang="en"><html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="Home.css"/>
    <script src="https://kit.fontawesome.com/e3fa0230bd.js" crossorigin="anonymous"></script>
</head>
<body>
<header>
    <h2><a href="/">Bookmyshow</a></h2>
    <nav>
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/registration">Register</a></li>
    </nav>
</header>
<section class="banner-area">
    <div class="banner-img"></div>
    <div class="center">
        <h1>Login</h1>
        <span th:text=" ${message}"/>
        <form action="/movies" method="post" >
            <div class="txt_field">
                <input type="text" name="username" required>
                <span></span>
                <label>Username</label>
            </div>
            <div class="txt_field">
                <input type="password" name="password"  required>
                <span></span>
                <label>Password</label>
            </div>
            <div class="pass">Forgot Password?</div>
            <input type="submit" value="Login">
            <div class="signup_link">
                Not a member? <a href="register">Signup</a>
            </div>
        </form>
    </div>
</section>
</body>
</html>