<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fund Transfer</title>
    <link rel="stylesheet" href="/Home.css"/>
    <script src="https://kit.fontawesome.com/e3fa0230bd.js" crossorigin="anonymous"></script>
</head>
<body>
<header>
    <h2><a href="Home">ABC BANK</a></h2>
    <nav>

        <li><a href="/afterlogin">Home</a></li>
        <li><a th:href="@{/customerDetails/{id} (id=${userName})}">Customer Details</a></li>
        <li><a th:href="@{/accountDetails/{id} (id=${accountNumber})}">Account Details</a></li>
        <li><a th:href="@{/deposit/{id} (id=${accountNumber})}">Deposit</a></li>
        <li><a th:href="@{/withdraw/{id} (id=${accountNumber})}">Withdraw</a></li>
        <li><a th:href="@{/fundTransfer/{id} (id=${accountNumber})}">Fund Transfer</a></li>
        <li><a href="/login">Logout</a></li>
    </nav>
</header>
<section class="banner-area">
    <div class="banner-img"></div>
    <div class="center">
        <h1>Fund Transfer</h1>

        <div class="text-center">
            <span th:text="${message}"/>
        </div>
        <form th:action="@{/fundTransfer/{id} (id=${accountNumber})}" method="post">
            <div class="txt_field1">
                <input type="text" name="fromAccount" id="fromAccount" required>
                <span></span>
                <label>From Account</label>
            </div>
            <div class="txt_field1">
                <input type="text" name="toAccount" id="toAccount" required>
                <span></span>
                <label>To Account</label>
            </div>
            <div class="txt_field1">
                <input type="text" name="amount" id="amount" required>
                <span></span>
                <label>Amount</label>
            </div>
            <button type="submit">Transfer</button>
        </form>
    </div>
</section>
</body>
</html>