<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Withdraw</title>
    <script src="https://kit.fontawesome.com/e3fa0230bd.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/Home.css"/>
</head>
<body>
<header>
    <h2><a href="/">ABC BANK</a></h2>
    <nav>

        <li><a href="/">Home</a></li>
        <li><a th:href="@{/customerDetails/{id} (id=${userName})}">Customer Details</a></li>
        <li><a th:href="@{/accountDetails/{id} (id=${accountNumber})}">Account Details</a></li>
        <li><a th:href="@{/deposit/{id} (id=${accountNumber})}">Deposit</a></li>
        <li><a th:href="@{/withdraw/{id} (id=${accountNumber})}">Withdraw</a></li>
        <li><a th:href="@{/fundTransfer/{id} (id=${accountNumber})}">Fund Transfer</a></li>
        <li><a href="/login">Logout</a></li>
    </nav>
</header>
<section class="banner-area">
    <div class="banner-img"></div>
    <div class="center">
        <h6><small><span th:text="${message}"/></small></h6>
        <h1>Withdraw</h1>
        <form th:action="@{/withdraw/{id} (id=${accountNumber})}" method="post">
            <div class="txt_field1">
                <label>Withdraw money</label>
                <input type="number" id="amount" name="amount" required>
                <span></span>

            </div>
            <button type="submit">Withdraw</button>
        </form>
    </div>
</section>
</body>
</html>